/*
    Tourist form page
*/
#tourist_form{
    border: 3px solid black;
    margin: 200px 250px 200px 250px;
    padding: 30px;
}

.form{
    width: 45%;
    height: 25px;
    flex-grow: 1;
    margin: 5px;
}

.input_container{
    width: 60%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    margin: 25px;
}

.btn_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

#picture{
    border: 1px solid black;
    padding: 5px;
}


#reset_btn, .delete_btn{
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #5e5d5d;
}

#submit_btn{
    background: none;
    border: none;
    padding: 0;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;

    background-color: #057e05;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #5e5d5d;
    margin: 0px 10px 0px 10px;

}

.update_btn{
    background-color: #057e05;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #5e5d5d;
    margin: 0px 10px 0px 10px;
}

/*
    Tourist Grid page
*/

#tourist_grid{
    display: none;
    margin: 10px;
}

table{
    width: 100% ;
    margin-top: 20px;
}

th{
    border: 1px solid black;
    background-color: black;
    color: white;
}

td{
    background-color: rgb(247, 128, 108);
    text-align: center;
}

.action_container{
    display: flex;
    justify-content: flex-end;
}

#create_btn{
    background-color: #341bc5;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #5e5d5d;
}
